    #pane{
        -fx-background-image: url("camenlogo.png");
        -fx-background-repeat: stretch; 
        -fx-background-size: stretch;
        -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    }
    
    
#button {
	-fx-background-color: #00b0b9;
	-fx-border: 2;
        -fx-border-color: #00b0b9;
	-fx-text-fill: white;
        -fx-font-size: 16px;
}
#button:hover {
	-fx-background-color:#00c0c7;
}
#button:pressed {
	-fx-translate-y: 1;
        -fx-border-color: #00d0d7;
}


